/**imitate Microsoft Edge context menu style*/
.ja-panel {
    border: none;
    border-radius: 5px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #a4a4a4;
    box-shadow: 0 10px 15px 0px #bbb;
    background-color: #fff;
}

.ja-contextmenu * {
    box-sizing: border-box;
}

.ja-contextmenu {
    padding: 0;
}

.ja-contextmenu li {
    margin: 4px;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding: 0 32px;
}

.ja-contextmenu li .menu-item-icon {
    left: 8px;
    top: 6px;
}

.ja-contextmenu li .menu-item-tip {
    color: #000;
}

.ja-contextmenu li .right-arrow {
    top: 10px;
    right: 15px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: none;
    border-left: none;
}